@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="col">
    <a asp-action="Categories" class="btn btn-success w-100">Categories</a>
    <a asp-action="Users" class="btn btn-success w-100">All users</a>
</div>

