@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@AreaLocalizer["ResetPassTitle"]</h1>
<p>
    @AreaLocalizer["ResetPassInfoOne"] <a asp-page="./Login">@AreaLocalizer["ResetPassInfoTwo"]</a>.
</p>
